name: "CI"
on:
  push:
    branches:
      - main
  pull_request_target:
    branches:
      - main
    types:
      - labeled
      - opened
      - reopened
      - synchronize
jobs:
  run-tests:
    name: Run integration tests
    uses: fluent/fluent-bit-ci/.github/workflows/call-run-integration-test.yaml@target
    with:
      image_name: ghcr.io/fluent/fluent-bit/master
      image_tag: x86_64
      ref: ${{ github.ref }}
    secrets:
      opensearch_aws_access_id: ${{ secrets.OPENSEARCH_AWS_ACCESS_ID }}
      opensearch_aws_secret_key: ${{ secrets.OPENSEARCH_AWS_SECRET_KEY }}
      opensearch_admin_password: ${{ secrets.OPENSEARCH_ADMIN_PASSWORD }}
      terraform_api_token: ${{ secrets.TF_API_TOKEN }}