name: Lint PRs
on:
  pull_request:
  workflow_dispatch:

jobs:
  tflint:
    name: PR - Tflint
    runs-on: ubuntu-latest

    steps:
      - name: Clone repo
        uses: actions/checkout@v3

      - name: tflint
        if: ${{ github.event_name == 'pull_request' }}
        uses: reviewdog/action-tflint@v1.17.0
        with:
          github_token: ${{ secrets.github_token }}
          working_directory: terraform
          fail_on_error: "true"

      - name: tflint
        if: ${{ github.event_name == 'workflow_dispatch' }}
        run: docker run --rm -v "$(pwd)/terraform:/data" -t ghcr.io/terraform-linters/tflint

  # Runs 'tfsec': https://github.com/aquasecurity/tfsec-pr-commenter-action
  tfsec:
    name: PR - Tfsec
    runs-on: ubuntu-latest
    steps:
      - name: Clone repo
        uses: actions/checkout@master

      - name: tfsec
        if: ${{ github.event_name == 'pull_request' }}
        uses: aquasecurity/tfsec-pr-commenter-action@v1.2.0
        with:
          github_token: ${{ github.token }}

      - name: tfsec
        if: ${{ github.event_name == 'workflow_dispatch' }}
        run: docker run --rm -t -v "$(pwd):/src" aquasec/tfsec /src

  shellcheck-pr:
    runs-on: ubuntu-latest
    name: PR - Shellcheck
    steps:
      - uses: actions/checkout@v3
      - uses: ludeeus/action-shellcheck@master

  actionlint-pr:
    runs-on: ubuntu-latest
    name: PR - Actionlint
    steps:
      - uses: actions/checkout@v3
      - run: |
          echo "::add-matcher::.github/actionlint-matcher.json"
          bash <(curl https://raw.githubusercontent.com/rhysd/actionlint/main/scripts/download-actionlint.bash)
          ./actionlint -color -shellcheck=
        shell: bash

  docslint-pr:
    runs-on: ubuntu-latest
    name: PR - Markdownlint
    steps:
      - name: Run markdownlint
        uses: actionshub/markdownlint@2.0.2
