---
name: Update packer images
on:
  workflow_dispatch:
  push:
    branches:
      - main
      - master
    paths-ignore:
      - ./.github/**
      - ./terraform/**
  pull_request:
    paths-ignore:
      - ./.github/**
      - ./terraform/**

concurrency:
  group: ${{ github.workflow }}
  cancel-in-progress: false

jobs:
  create-gcp-image:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    steps:
      - uses: actions/checkout@v3

      - run: |
          sudo apt-get update
          sudo apt-get install -y packer
        shell: bash

      - id: 'auth'
        uses: 'google-github-actions/auth@v0'
        with:
          credentials_json: ${{ secrets.GCP_SA_KEY }}

      - name: 'Set up Cloud SDK'
        uses: 'google-github-actions/setup-gcloud@v1'

      - name: 'Use gcloud CLI'
        run: gcloud info
        shell: bash

      - name: Validate packer
        run: packer validate ./gcp-packer.json
        shell: bash
        working-directory: packer

      - name: Build instance
        if: github.event_name != 'pull_request'
        run: |
          packer build -force -color=false ./gcp-packer.json
        shell: bash
        working-directory: packer

  test-image:
    needs:
      - create-gcp-image
    uses: ./.github/workflows/call-run-performance-test.yaml
    with:
      vm-name: packer-test
      duration: 1
    secrets:
      service-account: ${{ secrets.GCP_SA_KEY }}
